*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: linear-gradient(white,orangered);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    position: relative;
}
.player-names{
    width: 375px;
    height: 560px;
    background-color:white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    padding: 20px;
    border-radius: 5px;
}
.player-names h2,.rules h2{
    color: #eb4040;
    font-weight: 400;
}
.player-names input{
    font-size: 15px;
    font-family: 'Lato';
    width: 300px;
    color: #eb4040;
    padding: 9px;
    margin-top: 20px;
    border: 1px solid #eb4040;
    text-transform: uppercase;
    border-radius: 5px;
}
.player-names input:focus,.btn-start{
    outline: none;
}
.player-names .player-name-4{
    margin-bottom: 15px;
}
.player-names .btn-start,.btn-two{
    font-family: 'Lato';
    width: 120px;
    background-color: #eb4040;
    padding: 8px;
    color: #f7f7f7;
    border: 1px solid #eb4040;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.btn-two{
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    font-size: 13px;
    text-decoration: none;
}
/*.rules{
    position: absolute;
    width: 375px;
    top: 350px;
    left: 30px;
    background-color: white;
    height: 330px;
    padding: 20px;
    border-radius: 5px;
}*/
.rules ul{
    padding: 20px;
}
.rules ul li{
    margin-bottom: 10px;
}
.clearfix{
    clear: both;
    display: table;
    content: '';
}
/************ 4 PLayer ************/
.fplayer{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    background-color: white;
    /*box-shadow: 0 10px 50px black;*/
    overflow: hidden;
    border-radius: 5px;
} 
.fplayer .player-1,.player-2,.player-3,.player-4{
    width: 50%;
    height: 350px;
    padding: 0;
    margin: 0;
    float: left;
    border: 1px solid black;
    color: #f7f7f7;
    padding: 20px;
    background-color: darkgray;
}
.fplayer .player-1{
    border-top: none;
    border-left: none;
}
.fplayer .player-2{
    border-top: none;
    border-right: none;
}
.fplayer .player-3{
    border-bottom: none;
    border-left: none;
}
.fplayer .player-4{
    border-bottom: none;
    border-right: none;
}
.fplayer .player-name{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.fplayer .player-score{
    text-align: center;
    font-size: 65px;
    color: orangered;
    font-weight: 100;
    margin-bottom: 40px;
}
.fplayer .active{
    background: white;
}
.fplayer .active .player-name{
    font-weight: 300;
    color: black;
}
.fplayer .active .player-name::after{
    content: '\f192';
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    color: #eb4040;
    top: 12px;
    right: 80px;
}
.current-player{
    background-color: #eb4040;
    color: white;
    width: 30%;
    margin: 0 auto;
    padding: 13px;
    text-align: center;
    border-radius: 5px;
}
.current-player-indicator{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
}
.current-player-score{
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 300;
}
.wrapper2{
    width: 250px;
    height: 300px;
    background-color:white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding: 20px;
    border-radius: 5px;
}
.btn{
    position: absolute;
    width: 200px;
    left: 50%;
    color: #555;
    background: none;
    border: 1px solid #eb4040;
    border-radius: 5px;
    font-size: 18px;
    transform: translateX(-50%);
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: 500;
    padding: 10px;
}
.btn:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.432);
}
.btn:focus{
    outline: none;
}
.icon{
    color: #eb4040;
    margin-right: 15px;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin-top: 2px;
}
.btn-new{
    top: 25px;
}
.btn-roll{
    top: 105px;
}
.btn-hold{
    top: 155px;
}
.dice{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.151);
}
.winner{
    background-color: #f7f7f7;
}
.winner .player-name{
    font-weight: 300;
    color: #eb4040;
}
#dice-1{
    top: 225px;
}
#dice-2{
    top: 375px;
}
.final-score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato';
    width: 200px;
    color: #eb4040;
    padding: 10px;
    border: 1px solid #eb4040;
    text-transform: uppercase;
    border-radius: 5px;
}
.final-score:focus{
    outline: none;
}
.line{
    margin-top: 10px;
    margin-bottom: 10px;
}

